.hero-banner {
  background: url("./../../svg-Images/HeroBanner.svg") no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
  padding: 2rem;
}

.hero-title {
  font-size: 18px;
  font-family: var(--font-family);
  color: var(--white-color);
  font-weight: 500;
}

.hero-input-group input {
  min-width: 0;
  height: 50px;
  border-radius: 0.375rem 0 0 0.375rem;
}

.hero-input-group .btn {
  border-radius: 0 0.375rem 0.375rem 0;
}
.hero-input-group {
  display: flex;
  gap: 30px; 
}

.find-location-btn {
  background-color: var(--light-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  /* height: 100%;  */
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 500;
}

.find-location-btn:hover {
  background-color: var(--light-green-color);
  color: var(--text-color);
}

.find-location-btn:active {
  background-color: var(--light-green-color);
  color: var(--text-color);
}

@media (min-width: 365px) {
  .hero-title {
    font-size: 14px;
  }

  .find-location-btn {
    font-size: 12px;
  }
}

@media (min-width: 481px) {
   .hero-title {
    font-size: 16px;
  }

  .find-location-btn {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
    .hero-title {
    font-size: 18px;
  }

  .find-location-btn {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
   .hero-title {
    font-size: 20px;
  }

  .find-location-btn {
    font-size: 16px;
  }
}

@media (min-width: 1281px) {
  .hero-title {
    font-size: 4rem;
  }
}

@media (min-width: 1441px) {
  .hero-title {
    font-size: 4.5rem;
  }
}
