.school-card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px #00000040;
  transition: 0.3s ease-in-out;
}

.feature-driving-school-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.school-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.rating-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #c7f8e5;
  color: #1fbfc2;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.card-img-top {
  height: 250px;
}

.schools-View-btn {
  background-color: var(--light-green-color);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family);
}
.schools-View-btn:hover {
  background-color: var(--light-green-color);
}

.driving-school-card-body {
  padding: 15px 15px;
}

.driving-school-card-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.driving-school-card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-light-gray-color);
}
.driving-school-card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-light-gray-color);
}
